.c-nav{
    background-color: transparent;
    justify-content: right;
    gap: 60px;
}

#nav-container{
    position: fixed;
    width: 100%;
    z-index: 99;
}

body{
    background-image: url(../img/robo-robo2.png);
    background-repeat: no-repeat;
    background-position: left;
    background-color: black;
    background-size: 37%;
}

.sidebar{
    min-height: 100vh;
}

.c-nav a{
    color: white;
    font-size: 28px;
    letter-spacing: 0.05em;
    width: unset;
    text-transform: uppercase;
}

.user_image{
    filter: invert(100%);
    height: 80px;
    width: auto;
    margin-right: 100px;
}

.c-side{
    background: rgba(29, 28, 28, 0.2);
    border-right: 2px solid rgb(167, 167, 167);
    width: 200px !important;
}

.c-side .nav-item a.nav-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
    margin: auto;
}

.c-side.sidebar .nav-item .nav-link span, .c-side.sidebar .nav-item .nav-link i{
    font-size: 25px;
    color: white;
}

.c-side.sidebar .nav-item{
    margin-bottom: 30px;
}

.writer{
    margin-top: 33vh;
}

.c-nav .bars i{
    font-size: 25px;
    color: white;
}

.bars{
    position: absolute;
    left: 65px;
}

.container-fluid{
    margin-top: 200px;
    padding-left: 100px;
    color: white;
}

.idx.container-fluid h1.ai{
    font-size: 200px;
    text-transform: uppercase;
}

.idx.container-fluid h2{
    font-size: 50px;
    text-transform: uppercase;
}

.idx.container-fluid p{
    max-width: 600px;
    font-size: 20px;
    margin-top: 20px;
}

.aiidx{
    position: absolute;
    right: 20%;
    bottom: 20%;
}

.container-fluid .card, .container-fluid .card textarea{
    background-color: rgba(43, 42, 42, 0.5);
    color: white;
}

.container-fluid .row .checkbox{
    display: flex;
    gap: 10px;
}

.container-fluid .row .checkbox label input{
    margin-right: 10px;
}

.container-fluid #passages_div{
    padding: unset;
}

#results_div{
    border: 1px solid white;
}

.container-fluid.chart-new{
    max-width: 1500px;
}

.chart-body{
    background-size: 50%;
}