body{
    min-height: 50vh;
    padding-top: 150px;
    background-image: url(../img/robo-hands2.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

body.bg-dark{
    background-color: #10131c !important;
}

.card-login{
    background-color: transparent;
    color: white;
}

.card-login .card-header{
    text-align: center;
    font-size: 50px;
}

.card-login input{
    background: transparent;
    border: 2px solid white;
    color: white;
}

.card-login input:active{
    color: white;
}

.card-login label{
    color: white;
}

.card-login .text-center a{
    color: white;
    text-decoration: none;
    margin: 10px 0px;
}

.card-login .text-center a:hover{
    text-decoration: underline;
}

.userImage{
    filter: invert(100%);
    margin: auto;
}

@media screen and (max-width: 1400px){
    body{
        background-size: 100%;
    }
}