.card-register{
    background-color: transparent;
    color: white;
}

.card-register .card-header{
    text-align: center;
    font-size: 50px;
}

.card-register input{
    background: transparent;
    border: 2px solid white;
    color: white;
}

.card-register input:active{
    color: white;
}

.card-register label{
    color: white;
}

.card-register .text-center a{
    color: white;
    text-decoration: none;
    margin: 10px 0px;
}

.card-register .text-center a:hover{
    text-decoration: underline;
}